@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  background-color: #1f2937;
  padding: 16px 208px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}
